.container{
    margin-top: 50px;
    margin-left: 300px;
}

.search-input {
    border: 2px solid #cccccc8c; /* Border color */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 20px; /* Padding */
    font-size: 16px; /* Font size */
    width: 300px; /* Width of the search bar */
    outline: none; /* Remove outline */
    background-color: #f0f0f018;
    color: #040404;
  }
  
  /* Search input focus styles */
  .search-input:focus {
    border-color: #302f2fac;
    background-color: #ffffffad; /* Border color on focus */
  }
  
  /* Search icon styles */
  .search-icon {
    color: #090909; /* Icon color */
    cursor:pointer; /* Cursor type */
    transition: color 0.3s; /* Smooth transition */
  }
  
  /* Search icon hover styles */
  .search-icon:hover {
    color: #040404; /* Icon color on hover */
  }
  